@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//RADIO COLOR
.radio-item {
  margin-top: 20px;

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  label {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
  }
  input[type="radio"]:checked + label {
    background-color: rgb(245, 186, 186);
    border-color: red;
    color: white;
  }
  input[type="radio"]:hover + label {
  }
}

//SEARCH SECTION
.container {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border-radius: 5px 0 0 5px;
    outline: none;
    -moz-outline-radius: 10px;
    border: 3px solid red;
    border-right: none;
    padding: 5px;

    &[type="search"] {
      color: red;
      &:focus {
        background-color: white;
      }
    }
  }
}

#searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid red;
  background: red;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}

//MOVIE SECTION
.movie-container {
  margin: 150px;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  li {
    list-style: none;
    height: 400px;
    overflow: hidden;
    border-radius: 5%;
    &:focus-within,
    &:hover {
      transform: scale(1.07);
      box-shadow: 15px 15px 15px #666;
      outline: none;
    }
  }
}
